/* 
**************
Reset Default
**************
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* 
**************
Design System
**************
*/

/* Color */

:root {
    --main-color: #3661FF;
    --snd-color: #B4D0E7;
    --text-color: #474747;
    --alt-color: #61082B;

}

/* Typography */

body {
    font-family: 'Open Sans', sans-serif;
}

h1 {
    font-size: 77px;
    font-weight: 800;
    margin-bottom: 48px;
}

h2 {
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 50px;
}

h3 {
    font-size: 24px;
    font-weight: 700;
    line-height: 33px;
    margin-bottom: 20px;
}

h4 {
    font-size: 14px;
    font-weight: 700;
    margin-bottom: 6px;
}

h6 {
    font-size: 14px;
    font-weight: 500;
}

p {
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
}

span {
    font-size: 14px;
    font-weight: 400;
}

/* Button */

button {
    font-size: 14px;
    font-weight: 400;
    background-color: var(--main-color);
    color: #ffffff;
    padding: 12px 16px;
    border: none;
}

button:hover {
    background-color: #3677FF;
}

.button--alt {
    color: #030303;
    border: 1px solid #030303;
    background-color: #ffffff;
}

.button--alt:hover {
    background-color: #f9f9f9;
}

/* 
--------------
Header Nav
--------------
*/

nav {
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px 20px;
}

header nav div {
    height: 100%;
    display: flex;
    align-items: center;
}

header ul {
    height: 100%;
    display: flex;
    align-items: center;
    list-style: none;
}

header li {
    height: 100%;
    display: flex;
    align-items: center;
}

header a {
    font-size: 16px;
    margin: 0px 20px;
    text-decoration: none;
    color: var(--text-color);
}

header button {
    font-size: 16px;
    padding: 12px 16px;
}

/* Animazione Hover */

header li:hover {
    border-bottom: 2px solid;
    border-color: var(--main-color);
    margin-bottom: -2px;
}

/* 
--------------
Header Above
--------------
*/

section.above {
    background-color: var(--snd-color);
    padding-top: 80px;
    margin-bottom: 150px;
}

.container--big {
    width: 1200px;
    margin: 0 auto;
}

.column {
    display: flex;
}

.column--big {
    width: 70%;
}

.column--small {
    width: 30%;
}

.above .column--small {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.above .column--small__text {
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: flex-start;
}

.above .column--small__icon i {
    font-size: 50px;
    margin-bottom: 20px;
}

.above img {
    width: 100%;
    margin-bottom: -80px;
}

.above button {
    font-size: 16px;
    padding: 11px 16px;
}

/* 
--------------
Main
--------------
*/

section {
    margin-bottom: 60px;
}

.container {
    width: 1000px;
    margin: 0 auto;
}

.input-group {
    margin-bottom: 60px;
    display: flex;
    align-items: center;
}

.input-group input {
    margin-right: 3px;
}

.input-group span {
    margin-right: 60px;
}

main img {
    width: 100%;
    display: block;
}

/* Grid */

.container-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
}

.grid-column {
    width: calc((100% - 100px) /3);

}

.column--fullwidth {
    width: 100%;
}

.column--fullwidth .column {
    padding-bottom: 40px;
}

/* Comparison table */

.comparison-table .grid-column {
    border: solid 2px #EDEDEE;
    padding: 0px 30px;
}

.comparison-table .table__category {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    border-bottom: solid 2px #F6F6F6;
    margin: 0px -30px 30px;
    padding: 8px;
}

.comparison-table .table__category i {
    font-size: 12px;
}

.comparison-table .table__name {
    margin-bottom: 50px;
}

.comparison-table .table__name span {
    margin-bottom: 20px;
}

/* Comparison table full width */

.column--fullwidth .column--small .table__cta {
    display: flex;
    justify-content: flex-end;
    margin-top: 30px;
}

/* List */

.comparison-table ul {
    list-style: none;
}

.comparison-table li {
    margin-bottom: 20px;
    display: flex;
    align-items: baseline;
}

.comparison-table i {
    font-size: 14px;
    margin-right: 5px;
}

.table__list {
    margin-bottom: 40px;
}

.comparison-table button {
    width: 100%;
    margin-bottom: 32px;
}

.table__cta a {
    color: var(--main-color);
}

.comparison-table hr {
    margin: 40px 0px;
    width: 20%;
    border: 0.5px solid #E3E3E5;
}

.comparison-table .table__list h4 {
    margin-bottom: 30px;
}

/* List Feature */

.list--feature i {
    color: var(--main-color);
}

.list--feature ul {
    margin-top: 20px;
}

/* Section partner */

#partner {
    padding: 40px;
}

#partner .column--big {
    width: 60%;
}

#partner .column--small {
    width: 40%;
    padding: 50px;
}

#partner button {
    margin-top: 30px;
}

/* Dropbox Business */

.grid-container {
    width: 100%;
    display: flex;
}

.grid__group {
    display: flex;
    flex-wrap: wrap;
    width: calc(100%/3);
    margin-top: 150px;
}

.grid__group--big {
    display: block;
    background-color: #F5F5F5;
    padding: 50px;
    height: calc(100vw/3);
    overflow-y: auto;
    overflow-x: hidden;

}

.grid__group--big img {
    width: 200px;
}

.grid__group--big hr {
    width: 20%;
    margin: 30px 0px;
}

.grid__item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: calc(100%/2);
    height: calc(100vw/6);
    padding: 50px;
    fill: white;
}

#designit {
    background-color: #A2D39B;
    border: 10px solid #D1E9CD;
}

#asu {
    background-color: #61082B;
}

#uniflo {
    background-color: #2C93CE;
}

#topps {
    background-color: #FA221C;
}

#world {
    background-color: #D51B1E;
}

#hearst {
    background-color: #B4D0E7;
}

#lonely {
    background-color: #162480;
}

#clear {
    background-color: #FBD830;
}

section#client {
    margin-bottom: 0px;
}

/* Section Cta */

section#cta {
    background-color: var(--snd-color);
}

#cta .column {
    padding: 100px 0px;
}

#cta .column .column--big {
    width: 50%;
}

#cta .column .column--small {
    width: 50%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    padding-top: 10px;
}

#cta .column--big h2 {
    color: #61082B;
    margin-bottom: 0px;
}

#cta .column--small button {
    padding: 14px 42px;
    background-color: #ffffff;
    color: var(--text-color);
}

#cta .column--small button:hover {
    background-color: #f9f9f9;
}

/* Faq */

.faq-container hr {
    margin: 40px 0px;
}

.faq__question__title {
    display: flex;
    justify-content: space-between;
}

.faq__question__text {
    display: none;
}

.faq__question:hover .faq__question__text {
    display: block;
}

/* 
--------------
Footer
--------------
*/

footer {
    background-color: #000000;
    color: #ffffff;
    padding: 100px 0px 30px 0px;
}

/* Footer Menu */

.footer__menu {
    display: flex;
    justify-content: space-between;
}

.footer__menu ul {
    list-style: none;
}

.footer__menu li {
    margin-bottom: 10px;
}

/* Footer Lang */

.footer__lang {
    color: #99988F;
}

.footer__lang hr {
    width: 10%;
    margin: 60px 0px 30px;
    border: 0.5px solid #99988F;
}

.footer__lang--ita {
    display: flex;
    align-content: center;
    gap: 6px;
}

.fa-earth-americas {
    padding-top: 1px;
}

.fa-caret-up {
    padding: 3px;
}